@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}
body.fh5co-offcanvas {
  overflow: hidden;
}

a {
  color: #2da9d7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none !important;
  color: #2da9d7 !important;
}
a:active, a:focus {
  outline: none;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 15px;
  color: #848484;
  font-family: "Roboto", Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-family: "Roboto", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #2da9d7;
}

::-moz-selection {
  color: #fcfcfc;
  background: #2da9d7;
}

::selection {
  color: #fcfcfc;
  background: #2da9d7;
}

#fh5co-header {
  padding-top: 40px;
  margin-bottom: 30px;
}
#fh5co-header #fh5co-logo img {
  max-width: 100%;
}
#fh5co-header nav {
  padding-top: 20px;
}
#fh5co-header nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-header nav ul li {
  padding: 0;
  margin: 0;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  font-size: 15px;
}
#fh5co-header nav ul li a {
  color: #999999 !important;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  #fh5co-header nav ul li a {
    padding: 5px;
  }
}
#fh5co-header nav ul li a:hover, #fh5co-header nav ul li a:active, #fh5co-header nav ul li a:focus {
  color: #000 !important;
  text-decoration: none;
  outline: none;
}
#fh5co-header nav ul li.active a {
  text-decoration: underline !important;
  color: black !important;
}

.fh5co-projects-feed, .footer-content {
  margin: 0 auto;
  max-width: 1400px;
}

.fh5co-projects-feed .fh5co-project {
  float: left;
  margin: 20px 20px 20px;
  width: 290px;
}
@media screen and (max-width: 480px) {
  .fh5co-projects-feed .fh5co-project {
    margin: 10px 10px 10px;
  }
}
.fh5co-projects-feed .fh5co-project > a {
  display: block;
  text-align: center;
}
.fh5co-projects-feed .fh5co-project > a img {
  margin-bottom: 30px;
}
.fh5co-projects-feed .fh5co-project > a h2 {
  font-size: 14px;
  color: #999999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-projects-feed .fh5co-project > a:hover h2, .fh5co-projects-feed .fh5co-project > a:active h2, .fh5co-projects-feed .fh5co-project > a:focus h2 {
  color: #000;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  transition-property: left, right, top;
}

.page-content {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.page-content img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .page-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.page-content .mb0 {
  margin-bottom: 0;
}
.page-content .meta {
  margin-bottom: 20px;
}
.page-content .meta span {
  color: #bfbfbf;
}
.page-content .meta a {
  color: #bfbfbf;
}
.page-content .meta a:hover, .page-content .meta a:active, .page-content .meta a:focus {
  color: #000 !important;
}
@media screen and (max-width: 480px) {
  .page-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#fh5co-footer {
  float: left;
  width: 100%;
  background: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999999;
}
#fh5co-footer a {
  color: #bfbfbf;
}
#fh5co-footer a:hover, #fh5co-footer a:active, #fh5co-footer a:focus {
  color: #000 !important;
}
#fh5co-footer .social {
  margin-top: 20px;
}
#fh5co-footer .social a {
  padding: 10px;
  color: #999999 !important;
}
@media screen and (max-width: 480px) {
  #fh5co-footer .social a {
    padding: 5px;
  }
}
#fh5co-footer .social a:hover, #fh5co-footer .social a:active, #fh5co-footer .social a:focus {
  color: #000 !important;
}

.square {
  list-style: square;
}

.pt70 {
  padding-top: 70px;
}
@media screen and (max-width: 480px) {
  .pt70 {
    padding-top: 30px;
  }
}

.pb70 {
  padding-bottom: 70px;
}
@media screen and (max-width: 480px) {
  .pb70 {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */

/* Transições para imagens e blocos */
.img-responsive, .col-lg-4, .col-md-6, .col-sm-6, .col-xs-12 {
  transition: transform 0.5s ease-in-out;
}

/* Estilo de responsividade melhorado para imagens */
.img-responsive {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.g-custom {
  margin-right: 1rem; /* Ajuste este valor conforme necessário */
  margin-left: 1rem; /* Ajuste este valor conforme necessário */
}

.effect-sadie {
  position: relative;
  overflow: hidden;
  display: block; /* Assegura que o contêiner da figura comporta-se como um bloco */
}

.effect-sadie img {
  display: block; /* Remove espaços abaixo da imagem */
  width: 100%; /* Assegura que a imagem cubra toda a largura do contêiner */
  transition: transform 0.3s ease-in-out; /* Suaviza o efeito de transição */
  /* Se você não estiver animando a imagem de maneira alguma, pode remover a linha acima */
}

.effect-sadie figcaption {
  position: absolute;
  top: 0; /* Inicia do topo do contêiner */
  left: 0;
  right: 0;
  bottom: 0; /* Estende até o fundo do contêiner */
  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,100) 70%);
  transform: translateY(100%); /* Inicialmente escondido abaixo do contêiner */
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column; /* Organiza o texto verticalmente */
  justify-content: center; /* Centraliza o texto verticalmente */
  align-items: center; /* Centraliza o texto horizontalmente */

}

.effect-sadie:hover figcaption {
  transform: translateY(0); /* Move a legenda para cobrir a imagem ao fazer hover */
}

/* A linha abaixo foi removida para prevenir o zoom na imagem */
/* .effect-sadie:hover img {
  transform: scale(1.1);
} */

